# Vehículos

A continuación se va a realizar la limpieza de los datos de accidentes gestionados por la Guardia Urbana en la ciudad de Barcelona según el tipo de vehículo obtenidos en la web de Open Data BCN

Importo librería Pandas que permite trabajar sobre los datos

In [1]:
import pandas as pd

Importamos los csv

In [2]:
vehiculo15=pd.read_csv('vehiculos15.csv', index_col=False)
vehiculo16=pd.read_csv('vehiculos16.csv', index_col=False)
vehiculo17=pd.read_csv('vehiculos17.csv', index_col=False)

Inspección de los tipos de datos de cada tabla y la cantidad de filas y columnas

In [3]:
vehiculo15.dtypes

Codi d expedient               object
Codi districte                  int64
Nom districte                  object
Codi barri                      int64
Nom barri                      object
Codi carrer                     int64
Nom carrer                     object
Num postal caption             object
Descripció dia setmana         object
Dia setmana                    object
Descripció tipus dia           object
NK Any                          int64
Mes de any                      int64
Nom mes                        object
Dia de mes                      int64
Hora de dia                     int64
Descripció causa vianant       object
Descripció tipus de vehicle    object
Descripció model               object
Descripció marca               object
Descripció color               object
Descripció carnet              object
Antiguitat carnet              object
Coordenada UTM (Y)             object
Coordenada UTM (X)             object
dtype: object

In [4]:
vehiculo15.shape

(19237, 25)

In [5]:
vehiculo16.dtypes

Codi d'expedient                object
Codi districte                   int64
Nom districte                   object
Codi barri                       int64
Nom barri                       object
Codi carrer                      int64
Nom carrer                      object
Num postal caption              object
Descripció dia setmana          object
Dia setmana                     object
Descripció tipus dia            object
NK Any                           int64
Mes de any                       int64
Nom mes                         object
Dia de mes                       int64
Hora de dia                      int64
Descripció causa vianant        object
Descripció tipus de vehicle     object
Descripció model                object
Descripció marca                object
Descripció color                object
Descripció carnet               object
Antiguitat carnet               object
Coordenada UTM (X)              object
Coordenada UTM (Y)              object
Unnamed: 25                    float64
Unnamed: 26                    float64
dtype: object

In [6]:
vehiculo16.shape

(19410, 27)

In [7]:
vehiculo17.dtypes

Codi d'expedient               object
Codi districte                  int64
Nom districte                  object
Codi barri                      int64
Nom barri                      object
Codi carrer                     int64
Nom carrer                     object
Num postal caption             object
Descripció dia setmana         object
Dia setmana                    object
Descripció tipus dia           object
NK Any                          int64
Mes de any                      int64
Nom mes                        object
Dia de mes                      int64
Hora de dia                     int64
Descripció causa vianant       object
Descripció tipus de vehicle    object
Descripció model               object
Descripció marca               object
Descripció color               object
Descripció carnet              object
Antiguitat carnet              object
Coordenada UTM (X)             object
Coordenada UTM (Y)             object
Longitud                       object
Latitud                        object
dtype: object

In [8]:
vehiculo17.shape

(19795, 27)

Seleccionar columnas que interesan de los DataFrames; para los vehículos se utilizará el número de expediente, descripcipción causa peatón, descripción tipo de vehículo, descripción modelo, descripción marca, descripción color, descripción carnet y antiguedad carnet

In [9]:
veh15 = vehiculo15.iloc[:,[0,17,18,19,20,21,22]]
veh15.head()

,Codi d expedient,Descripció tipus de vehicle,Descripció model,Descripció marca,Descripció color,Descripció carnet,Antiguitat carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

In [10]:
veh16 = vehiculo16.iloc[:,[0,17,18,19,20,21,22]]
veh16.head()

,Codi d'expedient,Descripció tipus de vehicle,Descripció model,Descripció marca,Descripció color,Descripció carnet,Antiguitat carnet
0,2016S004659,"Camión > 3,5 Tm",370,RENAULT,Blanc,C,11
1,2016S008630,Turismo,A6,AUDI,Blanc,B,12
2,2016S008630,Turismo,LS 400,LEXUS,Altres,B,66
3,2016S009877,Motocicleta,Desconegut,HONDA,Negre,A,9
4,2016S009877,Turismo,FORTWO,SMART,Blanc,B,21

In [11]:
veh17 = vehiculo17.iloc[:,[0,17,18,19,20,21,22]]
veh17.head()

,Codi d'expedient,Descripció tipus de vehicle,Descripció model,Descripció marca,Descripció color,Descripció carnet,Antiguitat carnet
0,2017S000001,Turismo,ONE,MINI,Gris,B,21
1,2017S000002,Motocicleta,ELECTRA GLIDE ULTRA CLASSIC,HARLEY DAVIDSON,Negre,A,31
2,2017S000002,Turismo,MEGANE,RENAULT,Gris,Desconegut,Desconegut
3,2017S000003,Turismo,525,BMW,Blau,B,3
4,2017S000004,Motocicleta,AGILITY 125,KYMCO,Negre,B,5

Los nombres de las columnas deben ser traducidos a español y mantener la misma nomenclatura que las otras limpiezas antes de poder juntar

In [12]:
veh15.rename(columns={"Codi d expedient":'Num_expediente',"Descripció tipus de vehicle":"Tipo_vehiculo","Descripció model": "Modelo","Descripció marca":"Marca","Descripció color":"Color",'Descripció carnet':'Tipo_carnet', "Antiguitat carnet":"Antiguedad_carnet"},
                      inplace=True)
veh15.head()

C:\Users\Mario\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

In [13]:
veh16.rename(columns={"Codi d'expedient":'Num_expediente',"Descripció tipus de vehicle":"Tipo_vehiculo","Descripció model": "Modelo","Descripció marca":"Marca","Descripció color":"Color",'Descripció carnet':'Tipo_carnet', "Antiguitat carnet":"Antiguedad_carnet"},
                      inplace=True)
veh16.head()

C:\Users\Mario\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2016S004659,"Camión > 3,5 Tm",370,RENAULT,Blanc,C,11
1,2016S008630,Turismo,A6,AUDI,Blanc,B,12
2,2016S008630,Turismo,LS 400,LEXUS,Altres,B,66
3,2016S009877,Motocicleta,Desconegut,HONDA,Negre,A,9
4,2016S009877,Turismo,FORTWO,SMART,Blanc,B,21

In [14]:
veh17.rename(columns={"Codi d'expedient":'Num_expediente',"Descripció tipus de vehicle":"Tipo_vehiculo","Descripció model": "Modelo","Descripció marca":"Marca","Descripció color":"Color",'Descripció carnet':'Tipo_carnet', "Antiguitat carnet":"Antiguedad_carnet"},
                      inplace=True)
veh17.head()

C:\Users\Mario\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2017S000001,Turismo,ONE,MINI,Gris,B,21
1,2017S000002,Motocicleta,ELECTRA GLIDE ULTRA CLASSIC,HARLEY DAVIDSON,Negre,A,31
2,2017S000002,Turismo,MEGANE,RENAULT,Gris,Desconegut,Desconegut
3,2017S000003,Turismo,525,BMW,Blau,B,3
4,2017S000004,Motocicleta,AGILITY 125,KYMCO,Negre,B,5

Juntamos las bases de datos

In [15]:
vehiculos = veh15.append(veh16, ignore_index=True, verify_integrity=True, sort=None)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

In [16]:
vehiculos = vehiculos.append(veh17, ignore_index=True, verify_integrity=True, sort=None)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

Corroboramos que se haya realizado

In [17]:
vehiculos.shape
vehiculos.dtypes

Num_expediente       object
Tipo_vehiculo        object
Modelo               object
Marca                object
Color                object
Tipo_carnet          object
Antiguedad_carnet    object
dtype: object

Limpieza datos de Num_expediente

In [18]:
vehiculos.Num_expediente.unique()

array(['2015S004912', '2015S002169', '2015S003045', ...,
       '2017S010783    ', '2017S010784    ', '2017S010785    '],
      dtype=object)

Se puede ver que muchos tienen espacios, a continuación se eliminarán:

In [19]:
#def eliminar_espacios(fila):
#    return (fila.Num_expediente).strip()

#vehiculos['Num_expediente'] = vehiculos.apply(eliminar_espacios, axis=1)

In [20]:
vehiculos.Num_expediente.unique()

array(['2015S004912', '2015S002169', '2015S003045', ...,
       '2017S010783    ', '2017S010784    ', '2017S010785    '],
      dtype=object)

Ahora se verá los distintos tipos de vehículos:

In [21]:
vehiculos.Tipo_vehiculo.unique()

array(['Turismo', 'Motocicleta', 'Taxi', 'Autobús', 'Furgoneta',
       'Bicicleta', 'Ciclomotor', 'Microbus <=17 plazas',
       'Tranvía o tren', 'Camión <= 3,5 Tm', 'Camión > 3,5 Tm',
       'Otros vehíc. a motor', 'Tractocamión', 'Autocar',
       'Cuadriciclo <75cc', 'Autocaravana', 'Autobús articulado',
       'Todo terreno', 'Maquinaria de obras', 'Cuadriciclo >=75cc',
       'Carro', nan, 'Turisme', 'Camió rígid <= 3,5 tones',
       'Autobús articulat', 'Camió rígid > 3,5 tones', 'Tractor camió',
       'Altres vehicles sense motor', 'Altres vehicles amb motor',
       "Maquinària d'obres i serveis", 'Tren o tramvia', 'Tot terreny',
       'Quadricicle > 75 cc', 'Quadricicle < 75 cc', 'Desconegut',
       'Microbus <= 17'], dtype=object)

Se puede ver que hay muchos nombres similares y también hay unos en español y en catalán. Ejemplo: "Camión <= 3,5 Tm" es lo mismo que "Camió rígid <= 3,5 tones". A continuación se limpian estos datos:

In [22]:
def tipovehiculo(a):
    if a.Tipo_vehiculo == 'Turisme':
        b='Turismo'
    elif a.Tipo_vehiculo == 'Autobús articulat':
        b='Autobús articulado'
    elif a.Tipo_vehiculo == 'Carro':
        b='Turismo'
    elif a.Tipo_vehiculo == 'Altres vehicles sense motor':
        b='Otros vehíc. sin motor'
    elif a.Tipo_vehiculo == 'Altres vehicles amb motor':
        b='Otros vehíc. a motor'
    elif a.Tipo_vehiculo == 'Quadricicle > 75 cc':
        b='Cuadriciclo >=75cc'
    elif a.Tipo_vehiculo == 'Quadricicle < 75 cc':
        b='Cuadriciclo <75cc'
    elif a.Tipo_vehiculo == 'Camió rígid > 3,5 tones':
        b='Camión > 3,5 Tm'
    elif a.Tipo_vehiculo == 'Camió rígid <= 3,5 tones':
        b='Camión <= 3,5 Tm'
    elif a.Tipo_vehiculo == 'Tren o tramvia':
        b='Tranvía o tren'
    elif a.Tipo_vehiculo == "Maquinària d'obres i serveis":
        b='Maquinaria de obras'
    elif a.Tipo_vehiculo == 'Tractor camió':
        b='Tractocamión'
    elif a.Tipo_vehiculo == 'Tot terreny':
        b='Todo terreno'
    elif a.Tipo_vehiculo == 'Desconegut':
        b='Desconocido'
    elif a.Tipo_vehiculo == 'Microbus <= 17':
        b='Microbus <=17 plazas'
    elif a.Tipo_vehiculo == 'Autocar':
        b='Autobús'
    else: b = a.Tipo_vehiculo
    return b
   
vehiculos['Tipo_vehiculo'] = vehiculos.apply(tipovehiculo, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

Se verifican los cambios:

In [23]:
vehiculos.Tipo_vehiculo.unique()

array(['Turismo', 'Motocicleta', 'Taxi', 'Autobús', 'Furgoneta',
       'Bicicleta', 'Ciclomotor', 'Microbus <=17 plazas',
       'Tranvía o tren', 'Camión <= 3,5 Tm', 'Camión > 3,5 Tm',
       'Otros vehíc. a motor', 'Tractocamión', 'Cuadriciclo <75cc',
       'Autocaravana', 'Autobús articulado', 'Todo terreno',
       'Maquinaria de obras', 'Cuadriciclo >=75cc', nan,
       'Otros vehíc. sin motor', 'Desconocido'], dtype=object)

Ahora se verán los datos para el Modelo del carro para después limpiarlos. En este caso los 0 se toman como desconocidos.

In [24]:
vehiculos.Modelo.unique()

array(['ALMERA', 'ASTRA', 'SAXO', ..., 'RENAULT', 'FZ6ÑN', 'LIBERTY S'],
      dtype=object)

In [25]:
def modelo(a):
    if a.Modelo == '---':
        b='Desconocido'
    elif a.Modelo == 'Desconegut':
        b='Desconocido'
    elif a.Modelo == '0':
        b='Desconocido'
    else: b = a.Modelo
    return b
vehiculos['Modelo'] = vehiculos.apply(modelo, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

Se revisará la marca de los carros y verificar que no hayan repetidos.

In [26]:
vehiculos.Marca.unique()

array(['NISSAN', 'OPEL', 'CITROEN', 'HONDA', 'KYMCO', 'TOYOTA', 'SKODA',
       'MAN', 'SAAB', 'IRISBUS', 'PEUGEOT', 'SEAT', 'BICING', 'BULTACO',
       'FIAT', 'KIA', 'KAWASAKI', 'VOLKSWAGEN', 'YAMAHA', 'Desconegut',
       'SUZUKI', 'RENAULT', 'APRILIA', 'SYM', 'MERCEDES', 'FORD',
       'DUCATI', 'IVECO FIAT', 'AUDI', 'DERBI', 'BMW', 'DAELIM',
       'PIAGGIO', 'MAZDA', 'ISUZU', 'CHEVROLET', 'HYOSUNG', 'ALFA ROMEO',
       'JEEP', 'DAEWOO', 'HARLEY DAVIDSON', 'MICRO-VETT', 'ROVER',
       'VESPA', 'GME (General Motors)', 'RIEJU', 'DAF-HERMANNS',
       'DECATHLON', 'ORBEA', 'GIANTCO', 'KTM', 'MERCEDES-BENZ', 'LEXUS',
       'MINI', 'SMART', 'HYUNDAI', 'VOLVO', 'DENNIS', 'DACIA',
       'MITSUBISHI', 'AIXAM', 'BH', 'MBK', 'SCANIA', 'TRIUMPH', 'JAGUAR',
       'YIBEN', 'YIYING', 'GILERA', 'VAN HOOL', 'GENERIC', 'SSANGYONG',
       'DODGE', 'BTWIN', 'VDL BOVA', 'LAND ROVER', 'LINDE', 'CPI',
       'KEEWAY', 'LINHAI', 'CHRYSLER', 'SUBARU', 'ALSTOM', 'BENELLI',
       'PORSCHE', 'AIYUMO', 'LML', 'MONTY', 'TGB', 'MONTESA',
       'JONWAY ITALIA', 'AUSA', 'DAHON', 'GUZZI', 'MALAGUTI', 'CSR',
       'AYATS', 'ROLLS-ROYCE', 'GOVECS', 'INFINITI', 'MTR', 'CITADIS',
       'LANCIA', 'V MOTO', 'HUSQVARNA', 'KSR', 'RAVO', 'MICROCAR',
       'CONOR', 'HAMM', 'MG', 'BETA', 'ITALJET', 'SETRA', 'SANYANG',
       'BUELL', 'TATA', 'PEGASO', 'IRIZAR', 'HAOTIAN', 'MASH', 'DAIMLER',
       'ROYAL ENFIELD', 'BSA', 'LEONART', 'GUOBEN', 'FMC',
       'MOTOR HISPANIA', 'XINGYUE', 'IPV', 'QINGQI', 'AUSTIN', 'PGO',
       'RIDE', 'SUNSUNDEGUI', 'VECTRIX', 'ZNEN', 'TRUEBA', 'LAMBRETTA',
       'ZONGSHEN', 'SUMCO', 'HANWAY', 'BYD', 'BRAMMO', 'TRIGGER',
       'MV AUGUSTA', 'CHATENET', 'CADILLAC', 'KENROD', 'CAGIVA',
       'ASTON MARTIN', 'CLIPIC', 'Moto GAC', 'STILL', 'ERIDER', 'OSSA',
       'SUPER EUROPA', 'MOTORMANIA', 'JINLUN', 'BTM', 'SAMADA',
       'MONKEY BIKES', 'KEMMEL', 'MATHIEU-YNO', 'COOLTRA', 'SCOMADI',
       'FAIRWAY', 'M.Z.', 'ALEXANDER DENNIS', 'GINYS AMB MOTOR', 'E-TON',
       'MASERATI', 'FERRARI', 'GRISLEY', 'MAHINDRA', 'SORIBERICA', nan,
       'SANGLAS', 'EMCO', 'SCHMITZ', 'SECMA', 'PIONEER', 'AVIA', 'SCUTUM',
       'FAZTEK', 'TECNUVE', 'SOLARIS', 'S.Y.M', 'A.U.D.I.',
       'ES DESCONEIX', 'B.M.W.', 'GOWINN', 'FACTORY BIKE', 'M.A.N.',
       'GALLOPER', 'HUMMER', 'BERGADANA', 'MERCEDES B', 'K.T.M.',
       'BAOTIAN', 'GARELLI', 'MAC CORMICK', 'CATERHAM', 'EVF SPA',
       'A U D I', 'FYM', 'BELLIER', 'GOING GREEN', 'HM', 'TORROT',
       'A.U.S.A.', 'CARROCERA CASTR', 'MONDIAL', 'DAIHATSU', 'NEOPLAN',
       'TALBOT', 'MECEDES', 'LOHR', 'MAURICIO', 'TISONG', 'Brixton',
       'WUYANG', 'M A N', 'JDM', 'ALDY', 'VICTORY MOTOR D'], dtype=object)

Se puede ver que hay varias marcas escritas de la misma forma. Cómo por ejemplo "Audi". A continuación se modificarán aquellas marcas repetidas:

In [27]:
def marca(a):
    if a.Marca == 'M.A.N.':
        b='MAN'
    elif a.Marca == 'A U D I':
        b='AUDI'
    elif a.Marca == 'M A N':
        b='MAN'
    elif a.Marca == 'A.U.D.I.':
        b='AUDI'
    elif a.Marca == 'B.M.W.':
        b='BMW'
    elif a.Marca == 'ES DESCONEIX':
        b='Desconocido'
    elif a.Marca == 'K.T.M.':
        b='KTM'
    elif a.Marca == 'S.Y.M':
        b='SYM'
    elif a.Marca == 'MECEDES':
        b='MERCEDES-BENZ'
    elif a.Marca == 'MERCEDES B':
        b='MERCEDES-BENZ'
    elif a.Marca == 'MERCEDES':
        b='MERCEDES-BENZ'
    elif a.Marca == 'Desconegut':
        b='Desconocido'
    elif a.Marca == 'A.U.S.A.':
        b='AUSA'
    else: b = a.Marca
    return b
   
vehiculos['Marca'] = vehiculos.apply(marca, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanc,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negre,B,4

A continuación se visualizan los colores.

In [28]:
vehiculos.Color.unique()

array(['Gris', 'Blanc', 'Negre', 'Negre/Groc', 'Vermell', 'Blau',
       'Desconegut', 'Altres', 'Verd', 'Groc', 'Marró', 'granate',
       'Platejat', 'Daurat', 'Taronja', 'Beige', 'Violeta', 'Rosa', nan],
      dtype=object)

Los colores están en catalán y a continuación se traducen a español:

In [29]:
def color(a):
    if a.Color == 'Blanc':
        b='Blanco'
    elif a.Color == 'Negre':
        b='Negro'
    elif a.Color == 'Negre/Groc':
        b='Negro/Amarillo'
    elif a.Color == 'Vermell':
        b='Rojo'
    elif a.Color == 'Blau':
        b='Azul'
    elif a.Color == 'Desconegut':
        b='Desconocido'
    elif a.Color == 'Altres':
        b='Otros'
    elif a.Color == 'Verd':
        b='Verde'
    elif a.Color == 'Groc':
        b='Amarillo'
    elif a.Color == 'Marró':
        b='Marrón'
    elif a.Color == 'Platejat':
        b='Plateado'
    elif a.Color == 'Daurat':
        b='Dorado'
    elif a.Color == 'Taronja':
        b='Naranja'
    else: b = a.Color
    return b
   
vehiculos['Color'] = vehiculos.apply(color, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanco,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negro,B,4

Se verifican los cambios:

In [30]:
vehiculos.Color.unique()

array(['Gris', 'Blanco', 'Negro', 'Negro/Amarillo', 'Rojo', 'Azul',
       'Desconocido', 'Otros', 'Verde', 'Amarillo', 'Marrón', 'granate',
       'Plateado', 'Dorado', 'Naranja', 'Beige', 'Violeta', 'Rosa', nan],
      dtype=object)

A continuación se visualizan los tipos de carnet en la base de datos:

In [31]:
vehiculos.Tipo_carnet.unique()

array(['B', 'BTP', 'D', 'A', 'A1', 'Desconegut', 'AM', 'A2', 'C', 'E C',
       'C1', 'E C1', 'Llicència', 'B1', 'E D', 'D1', 'E B', nan, 'E D1',
       'Es desconeix', 'Sense permís'], dtype=object)

Hay tipos de carnet que tienen las letras escritas al revés de cómo aparecen en la parte trasera de las licencias. También aparece "Llicència" y se toma como desconocido.

In [32]:
def carnet(a):
    if a.Tipo_carnet == 'E C1':
        b='C1E'
    elif a.Tipo_carnet == 'E D':
        b='DE'
    elif a.Tipo_carnet == 'E B':
        b='BE'
    elif a.Tipo_carnet == 'E C':
        b='CE'
    elif a.Tipo_carnet == 'E D1':
        b='D1E'
    elif a.Tipo_carnet == 'Desconegut':
        b='Desconocido'
    elif a.Tipo_carnet == 'Es desconeix':
        b='Desconocido'
    elif a.Tipo_carnet == 'Sense permís':
        b='Sin permiso'
    elif a.Tipo_carnet == 'Llicència':
        b='Desconocido'
    else: b = a.Tipo_carnet
    return b
   
vehiculos['Tipo_carnet'] = vehiculos.apply(carnet, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanco,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negro,B,4

A continuación se revisa la antiguedad del carnet:

In [33]:
vehiculos.Antiguedad_carnet.unique()

array(['36', '1', '3', '2', '4', '16', '6', '17', '26', '5', '19', '24',
       '20', '15', '10', 'Desconegut', '28', '9', '25', '7', '8', '0',
       '21', '47', '12', '18', '32', '11', '30', '13', '14', '29', '42',
       '40', '39', '23', '27', '22', '34', '31', '49', '35', '37', '43',
       '48', '33', '53', '51', '46', '41', '-70', '38', '56', '50', '54',
       '45', '52', '44', '-947', '57', '55', '58', '71', '-41', '63',
       '60', '61', '-48', '59', '-47', '-45', '65', '67', '-2', '-28',
       '69', '1018', '62', '-72', '66', '64', '73', '-5', '1818', '-46',
       '-484', '68', nan, '-972', '-189'], dtype=object)

Se puede visualizar que hay datos negativos y también con más de mil años. A continuación se limpian todos los datos negativos y edades con más de 120 años y se toman como valores desconocidos:

In [34]:
def antiguedad(a):
    if a.Antiguedad_carnet == '-947':
        b='Desconocido'
    elif a.Antiguedad_carnet == '1018':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-70':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-41':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-48':
        b='Desconocido'
    elif a.Antiguedad_carnet == 'Desconegut':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-47':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-45':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-2':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-28':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-72':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-5':
        b='Desconocido'      
    elif a.Antiguedad_carnet == '1818':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-46':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-484':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-972':
        b='Desconocido'
    elif a.Antiguedad_carnet == '-189':
        b='Desconocido'
    else: b = a.Antiguedad_carnet
    return b
   
vehiculos['Antiguedad_carnet'] = vehiculos.apply(antiguedad, axis=1)
vehiculos.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanco,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negro,B,4

Se verifican los cambios:

In [35]:
vehiculos.Antiguedad_carnet.unique()

array(['36', '1', '3', '2', '4', '16', '6', '17', '26', '5', '19', '24',
       '20', '15', '10', 'Desconocido', '28', '9', '25', '7', '8', '0',
       '21', '47', '12', '18', '32', '11', '30', '13', '14', '29', '42',
       '40', '39', '23', '27', '22', '34', '31', '49', '35', '37', '43',
       '48', '33', '53', '51', '46', '41', '38', '56', '50', '54', '45',
       '52', '44', '57', '55', '58', '71', '63', '60', '61', '59', '65',
       '67', '69', '62', '66', '64', '73', '68', nan], dtype=object)

A continuación se exporta en formato csv:

In [36]:
vehiculos.to_csv("vehiculos.csv",index=0, encoding="utf-8")

A continuación se importa el nuevo csv para verificar que se hayan exportado los datos de manera correcta:

In [37]:
prueba=pd.read_csv('vehiculos.csv', index_col=False)

In [38]:
prueba.head()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
0,2015S004912,Turismo,ALMERA,NISSAN,Gris,B,36
1,2015S002169,Turismo,ASTRA,OPEL,Gris,B,1
2,2015S003045,Turismo,SAXO,CITROEN,Blanco,B,3
3,2015S002476,Turismo,JAZZ,HONDA,Gris,B,2
4,2015S009751,Motocicleta,AGILITY 125,KYMCO,Negro,B,4

In [39]:
prueba.tail()

,Num_expediente,Tipo_vehiculo,Modelo,Marca,Color,Tipo_carnet,Antiguedad_carnet
58437,2017S010782,Turismo,IBIZA,SEAT,Blanco,Desconocido,Desconocido
58438,2017S010783,Motocicleta,SCOOPY 125,HONDA,Negro,B,11
58439,2017S010783,Taxi,PRIUS,TOYOTA,Desconocido,BTP,35
58440,2017S010784,Taxi,CADDY,VOLKSWAGEN,Negro/Amarillo,B,5
58441,2017S010785,Taxi,OCTAVIA,SKODA,Negro/Amarillo,Desconocido,Desconocido