## Tipología
A continuación se vaa realizar la limpieza de los datos de accidentes gestionados por la Guardia Urbana en la ciudad de Barcelona según tipología obtenidos en la web de Open Data BCN

Importo la herramienta de pandas que me permite trabajar sobre los datos

In [2]:
import pandas as pd

Exportamos los csv

In [42]:
tipologia15=pd.read_csv('tipologia2015.csv', index_col=False)
tipologia16=pd.read_csv('tipologia2016.csv', index_col=False)
tipologia17=pd.read_csv('tipologia2017.csv', index_col=False)

Inspecciono los tipos de datos de cada tabla y la cantidad de filas y columnas

In [43]:
tipologia15.dtypes

Número d expedient            object
Codi districte               float64
Nom districte                 object
Codi barri                   float64
Nom barri                     object
Codi carrer                  float64
Nom carrer                    object
Num postal caption            object
Descripció dia setmana        object
Dia setmana                   object
Descripció tipus dia          object
NK Any                       float64
Mes de any                   float64
Nom mes                       object
Dia de mes                   float64
Hora de dia                  float64
Descripció torn               object
Descripció tipus accident     object
Coordenada UTM (Y)            object
Coordenada UTM (X)            object
dtype: object

In [44]:
tipologia15.shape

(10522, 20)

In [45]:
tipologia16.dtypes

Número d'expedient            object
Codi districte                 int64
Nom districte                 object
Codi barri                     int64
Nom barri                     object
Codi carrer                    int64
Nom carrer                    object
Num postal caption            object
Descripció dia setmana        object
Dia setmana                   object
Descripció tipus dia          object
NK Any                         int64
Mes de any                     int64
Nom mes                       object
Dia de mes                     int64
Hora de dia                    int64
Descripció torn               object
Descripció tipus accident     object
Coordenada UTM (X)            object
Coordenada UTM (Y)            object
Long                         float64
Lat                          float64
dtype: object

In [46]:
tipologia16.shape

(10701, 22)

In [10]:
tipologia17.dtypes

Número d expedient            object
Codi districte               float64
Nom districte                 object
Codi barri                   float64
Nom barri                     object
Codi carrer                  float64
Nom carrer                    object
Num postal caption            object
Descripció dia setmana        object
Dia setmana                   object
Descripció tipus dia          object
NK Any                       float64
Mes de any                   float64
Nom mes                       object
Dia de mes                   float64
Hora de dia                  float64
Descripció torn               object
Descripció tipus accident     object
Coordenada UTM (Y)            object
Coordenada UTM (X)            object
dtype: object

In [48]:
tipologia17.shape

(11009, 22)

A continuación selecciono las columnas que me interesan de los DataFrames; en el caso de tipología vamos a utilizar el número de expediente y la descripción del tipo de accidente.

In [14]:
tipo15 = tipologia15.iloc[:,[0,17]]
tipo15.head()

  Número d expedient   Descripció tipus accident
0        2015S000215    Col.lisió fronto-lateral
1        2015S000787  Xoc contra element estàtic
2        2015S000390  Xoc contra element estàtic
3        2015S007294        Caiguda (dues rodes)
4        2015S009836           Col.lisió lateral

In [15]:
tipo16 = tipologia16.iloc[:,[0,17]]
tipo16.head()

  Número d'expedient   Descripció tipus accident
0    2016S002575                           Abast
1    2016S001146               Col.lisió lateral
2    2016S009619                   Atropellament
3    2016S003881      Xoc contra element estàtic
4    2016S004162      Xoc contra element estàtic

In [16]:
tipo17 = tipologia17.iloc[:,[0,17]]
tipo17.head()

  Número d'expedient Descripció tipus accident
0    2017S009418                         Abast
1    2017S008852      Col.lisió fronto-lateral
2    2017S001023             Col.lisió lateral
3    2017S009198      Col.lisió fronto-lateral
4    2017S006546                         Abast

En este caso, los nombres de las columnas no son iguales por lo que se deben renombrar antes de poder juntar. Además se traducen los nombres al castellano.

In [31]:
tipo15.rename(columns={"Número d expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo15.head()

  Num_expediente              Tipo_accidente
0    2015S000215    Col.lisió fronto-lateral
1    2015S000787  Xoc contra element estàtic
2    2015S000390  Xoc contra element estàtic
3    2015S007294        Caiguda (dues rodes)
4    2015S009836           Col.lisió lateral

In [32]:
tipo16.rename(columns={"Número d'expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo16.head()

    Num_expediente              Tipo_accidente
0  2016S002575                           Abast
1  2016S001146               Col.lisió lateral
2  2016S009619                   Atropellament
3  2016S003881      Xoc contra element estàtic
4  2016S004162      Xoc contra element estàtic

In [33]:
tipo17.rename(columns={"Número d'expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo17.head()

    Num_expediente            Tipo_accidente
0  2017S009418                         Abast
1  2017S008852      Col.lisió fronto-lateral
2  2017S001023             Col.lisió lateral
3  2017S009198      Col.lisió fronto-lateral
4  2017S006546                         Abast

Ahora se juntan en una sola tabla

In [36]:
tipo = tipo15.append(tipo16)
tipo.head()

  Num_expediente              Tipo_accidente
0    2015S000215    Col.lisió fronto-lateral
1    2015S000787  Xoc contra element estàtic
2    2015S000390  Xoc contra element estàtic
3    2015S007294        Caiguda (dues rodes)
4    2015S009836           Col.lisió lateral

In [40]:
tipologia = tipo.append(tipo17)
tipologia.head()

  Num_expediente              Tipo_accidente
0    2015S000215    Col.lisió fronto-lateral
1    2015S000787  Xoc contra element estàtic
2    2015S000390  Xoc contra element estàtic
3    2015S007294        Caiguda (dues rodes)
4    2015S009836           Col.lisió lateral

In [41]:
tipologia.tail()

        Num_expediente            Tipo_accidente
11004  2017S003667             Col.lisió lateral
11005  2017S002192      Col.lisió fronto-lateral
11006  2017S001766          Caiguda (dues rodes)
11007  2017S009106                 Atropellament
11008  2017S006503      Col.lisió fronto-lateral

Ahora se procede con la limpieza del tipo de accidente:

Primero se verifica los tipos de accidentes, para comprobar que no haya ninguno que sea igual pero que este escrito de manera distinta.

In [51]:
tipologia.Tipo_accidente.unique()

array(['Col.lisió fronto-lateral', 'Xoc contra element estàtic',
       'Caiguda (dues rodes)', 'Col.lisió lateral', 'Atropellament',
       'Abast', 'Abast multiple', 'Caiguda interior vehicle',
       'Col.lisió frontal', 'Altres', 'Bolcada (més de dues rodes)', nan,
       'Desconegut', 'Sortida de via amb xoc o col.lisió', 'Encalç',
       'Sortida de via amb bolcada', 'Xoc amb animal a la calçada',
       'Resta sortides de via'], dtype=object)