## ACCIDENTES DE TRÁFICO EN BARCELONA##

A continuación se vaa realizar la limpieza de los datos de accidentes gestionados por la Guardia Urbana en la ciudad de Barcelona según las Víctimas obtenidos en la web de Open Data BCN

## Limpieza de datos##

Importación librería Pandas que me permite trabajar sobre los datos

In [1]:
import pandas as pd

Exportación CSVs

In [2]:
victimas15 = pd.read_csv('victimas15.csv', index_col=False)
victimas16 = pd.read_csv('victimas16.csv', index_col=False)
victimas17 = pd.read_csv('victimas17.csv', index_col=False)

Inspección de los tipos de datos de cada tabla y la cantidad de filas y columnas

In [3]:
victimas15.dtypes

Número d expedient              object
Codi districte                 float64
Nom districte                   object
Codi barri                     float64
Nom barri                       object
Codi carrer                    float64
Nom carrer                      object
Num postal caption              object
Descripció dia setmana          object
Dia setmana                     object
Descripció tipus dia            object
NK Any                         float64
Mes de any                     float64
Nom mes                         object
Dia de mes                     float64
Hora de dia                    float64
Descripció causa vianant        object
Desc Tipus vehicle implicat     object
Descripció sexe                 object
Descripció tipus persona        object
Edat                            object
Descripció victimització        object
Coordenada UTM (Y)              object
Coordenada UTM (X)              object
dtype: object

In [4]:
victimas15.shape

(11781, 24)

In [5]:
victimas16.dtypes

Número d'expedient               object
Codi districte                    int64
Nom districte                    object
Codi barri                        int64
Nom barri                        object
Codi carrer                       int64
Nom carrer                       object
Num postal caption               object
Descripció dia setmana           object
Dia setmana                      object
Descripció tipus dia             object
NK Any                            int64
Mes de any                        int64
Nom mes                          object
Dia de mes                        int64
Descripció torn                  object
Hora de dia                       int64
Descripció causa vianant         object
Desc. Tipus vehicle implicat     object
Descripció sexe                  object
Edat                             object
Descripció tipus persona         object
Descripció situació              object
Descripció victimització         object
Coordenada UTM (X)               object
Coordenada UTM (Y)               object
Long                            float64
Lat                             float64
dtype: object

In [6]:
victimas16.shape

(12072, 28)

In [7]:
victimas17.dtypes

Número_d'expedient              object
Codi_districte                   int64
Nom districte                   object
Codi_barri                       int64
Nom_barri                       object
Codi_carrer                      int64
Nom carrer                      object
Num_postal                      object
Descripció_dia_setmana          object
Dia setmana                     object
Descripció tipus dia            object
NK Any                           int64
Mes de any                       int64
Nom mes                         object
Dia de mes                       int64
Descripció torn                 object
Hora de dia                      int64
Descripció causa vianant        object
Desc._Tipus_vehicle_implicat    object
Descripció_sexe                 object
Edat                            object
Descripció_tipus_persona        object
Descripció_situació             object
Descripció_victimització        object
Coordenada_UTM_(X)              object
Coordenada_UTM_(Y)              object
Long                            object
Lat                             object
dtype: object

In [8]:
victimas17.shape

(12148, 28)

Selección de columnas a considerar; en el caso de víctimas se utilizarán Número de expediente, 
Descripción causa peatón, Descripción tipo de vehículo implicado, Descripción de victimización, Edad y Sexo.

In [9]:
vict15 = victimas15.iloc[:,[0,16,17,18,19,20,21]]
vict15.head()

,Número d expedient,Descripció causa vianant,Desc Tipus vehicle implicat,Descripció sexe,Descripció tipus persona,Edat,Descripció victimització
0,2015S005991,No és causa del vianant,Motocicleta,Home,Conductor,36,Ferit lleu
1,2015S004912,No és causa del vianant,Turismo,Home,Conductor,54,Ferit lleu
2,2015S009751,No és causa del vianant,Motocicleta,Home,Conductor,49,Ferit lleu
3,2015S002580,Creuar per fora pas de vianants,Motocicleta,Home,Vianant,13,Ferit lleu
4,2015S008919,No és causa del vianant,Motocicleta,Home,Conductor,49,Ferit lleu

In [10]:
vict16 = victimas16.iloc[:,[0,17,18,19,20,21,23]]
vict16.head()

,Número d'expedient,Descripció causa vianant,Desc. Tipus vehicle implicat,Descripció sexe,Edat,Descripció tipus persona,Descripció victimització
0,2016S008630,No és causa del vianant,Turismo,Home,29,Conductor,Ferit lleu
1,2016S009877,No és causa del vianant,Motocicleta,Home,30,Conductor,Ferit lleu
2,2016S002188,No és causa del vianant,Motocicleta,Home,39,Conductor,Ferit lleu
3,2016S004036,No és causa del vianant,Motocicleta,Home,28,Conductor,Ferit lleu
4,2016S007973,Creuar per fora pas de vianants,Turismo,Dona,14,Vianant,Ferit lleu

In [11]:
vict17 = victimas17.iloc[:,[0,17,18,19,20,21,23]]
vict17.head()

,Número_d'expedient,Descripció causa vianant,Desc._Tipus_vehicle_implicat,Descripció_sexe,Edat,Descripció_tipus_persona,Descripció_victimització
0,2017S000001,No és causa del vianant,Turismo,Home,50,Conductor,Ferit lleu
1,2017S000002,No és causa del vianant,Motocicleta,Home,47,Conductor,Ferit lleu
2,2017S000004,No és causa del vianant,Motocicleta,Dona,27,Conductor,Ferit lleu
3,2017S000005,No és causa del vianant,Ciclomotor,Dona,40,Passatger,Ferit lleu
4,2017S000005,No és causa del vianant,Ciclomotor,Home,37,Conductor,Ferit lleu

Los nombres de las columnas no son iguales por lo que se deben renombrar (traducir al español) antes de poder juntar

In [12]:
vict15.rename(columns={"Número d expedient":'Num_expediente',"Descripció causa vianant":"Causa_peaton","Descripció tipus persona":"Tipo_persona","Descripció victimització": "Condicion_fisica","Edat":"Edad","Descripció sexe":"Sexo",'Desc Tipus vehicle implicat':'Tipo_vehiculo'},
                      inplace=True)
vict15.head()

C:\Users\ale_r\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Num_expediente,Causa_peaton,Tipo_vehiculo,Sexo,Tipo_persona,Edad,Condicion_fisica
0,2015S005991,No és causa del vianant,Motocicleta,Home,Conductor,36,Ferit lleu
1,2015S004912,No és causa del vianant,Turismo,Home,Conductor,54,Ferit lleu
2,2015S009751,No és causa del vianant,Motocicleta,Home,Conductor,49,Ferit lleu
3,2015S002580,Creuar per fora pas de vianants,Motocicleta,Home,Vianant,13,Ferit lleu
4,2015S008919,No és causa del vianant,Motocicleta,Home,Conductor,49,Ferit lleu

In [13]:
vict16.rename(columns={"Número d'expedient":'Num_expediente',"Descripció causa vianant":"Causa_peaton", "Descripció tipus persona":"Tipo_persona", "Descripció victimització": "Condicion_fisica", "Edat":"Edad", "Descripció sexe":"Sexo",'Desc. Tipus vehicle implicat':'Tipo_vehiculo'},
                      inplace=True)
vict16.head()

,Num_expediente,Causa_peaton,Tipo_vehiculo,Sexo,Edad,Tipo_persona,Condicion_fisica
0,2016S008630,No és causa del vianant,Turismo,Home,29,Conductor,Ferit lleu
1,2016S009877,No és causa del vianant,Motocicleta,Home,30,Conductor,Ferit lleu
2,2016S002188,No és causa del vianant,Motocicleta,Home,39,Conductor,Ferit lleu
3,2016S004036,No és causa del vianant,Motocicleta,Home,28,Conductor,Ferit lleu
4,2016S007973,Creuar per fora pas de vianants,Turismo,Dona,14,Vianant,Ferit lleu

In [14]:
vict17.rename(columns={"Número_d'expedient":'Num_expediente',"Descripció causa vianant":"Causa_peaton", "Descripció_tipus_persona":"Tipo_persona", "Descripció_victimització": "Condicion_fisica", "Edat":"Edad", "Descripció_sexe":"Sexo",'Desc._Tipus_vehicle_implicat':'Tipo_vehiculo'},
                      inplace=True)
vict17.head()

,Num_expediente,Causa_peaton,Tipo_vehiculo,Sexo,Edad,Tipo_persona,Condicion_fisica
0,2017S000001,No és causa del vianant,Turismo,Home,50,Conductor,Ferit lleu
1,2017S000002,No és causa del vianant,Motocicleta,Home,47,Conductor,Ferit lleu
2,2017S000004,No és causa del vianant,Motocicleta,Dona,27,Conductor,Ferit lleu
3,2017S000005,No és causa del vianant,Ciclomotor,Dona,40,Passatger,Ferit lleu
4,2017S000005,No és causa del vianant,Ciclomotor,Home,37,Conductor,Ferit lleu

Juntar todas las bases

In [15]:
vic = vict15.append(vict16, ignore_index=True, verify_integrity=True, sort=None)
vic.head()

C:\Users\ale_r\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No és causa del vianant,Ferit lleu,36,2015S005991,Home,Conductor,Motocicleta
1,No és causa del vianant,Ferit lleu,54,2015S004912,Home,Conductor,Turismo
2,No és causa del vianant,Ferit lleu,49,2015S009751,Home,Conductor,Motocicleta
3,Creuar per fora pas de vianants,Ferit lleu,13,2015S002580,Home,Vianant,Motocicleta
4,No és causa del vianant,Ferit lleu,49,2015S008919,Home,Conductor,Motocicleta

In [16]:
victimas = vic.append(vict17, ignore_index=True, verify_integrity=True, sort=None)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No és causa del vianant,Ferit lleu,36,2015S005991,Home,Conductor,Motocicleta
1,No és causa del vianant,Ferit lleu,54,2015S004912,Home,Conductor,Turismo
2,No és causa del vianant,Ferit lleu,49,2015S009751,Home,Conductor,Motocicleta
3,Creuar per fora pas de vianants,Ferit lleu,13,2015S002580,Home,Vianant,Motocicleta
4,No és causa del vianant,Ferit lleu,49,2015S008919,Home,Conductor,Motocicleta

Verificación

In [17]:
victimas.shape

(36001, 7)

Aislar fila erronea (interrumpe la limpieza de datos)

In [18]:
victimas[victimas.index.values == 11780]

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
11780,10:08:59,NaN,NaN,2/11/16,NaN,NaN,NaN

In [19]:
victimas = victimas.drop(victimas.index[[11780]])

In [20]:
victimas[victimas.index.values == 11780]

Empty DataFrame
Columns: [Causa_peaton, Condicion_fisica, Edad, Num_expediente, Sexo, Tipo_persona, Tipo_vehiculo]
Index: []

In [21]:
victimas.shape

(36000, 7)

Limpieza dato Número de Expediente

In [22]:
victimas.Num_expediente.unique()

array(['2015S005991', '2015S004912', '2015S009751', ...,
       '2017S010782    ', '2017S010783    ', '2017S010784    '],
      dtype=object)

In [23]:
def espacio(fila):
    return (fila.Num_expediente).strip()

victimas['Num_expediente'] = victimas.apply(espacio,axis=1)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No és causa del vianant,Ferit lleu,36,2015S005991,Home,Conductor,Motocicleta
1,No és causa del vianant,Ferit lleu,54,2015S004912,Home,Conductor,Turismo
2,No és causa del vianant,Ferit lleu,49,2015S009751,Home,Conductor,Motocicleta
3,Creuar per fora pas de vianants,Ferit lleu,13,2015S002580,Home,Vianant,Motocicleta
4,No és causa del vianant,Ferit lleu,49,2015S008919,Home,Conductor,Motocicleta

In [24]:
victimas.Num_expediente.unique()

array(['2015S005991', '2015S004912', '2015S009751', ..., '2017S010782',
       '2017S010783', '2017S010784'], dtype=object)

Limpieza datos Causa_peaton (traducción al español)

In [25]:
victimas.Causa_peaton.unique()

array(['No és causa del  vianant', 'Creuar per fora pas de vianants',
       'Desobeir el senyal del semàfor', 'Altres',
       'Transitar a peu per la calçada', 'Desobeir altres senyals'],
      dtype=object)

In [26]:
def causapeaton(a):
    if a.Causa_peaton == 'No és causa del  vianant':
        b='No es debido al peatón'
    elif a.Causa_peaton == 'Creuar per fora pas de vianants':
        b='Cruzar por fuera paso de peatones'
    elif a.Causa_peaton == 'Desobeir el senyal del semàfor':
        b='Desobedecer la señan del semáforo'
    elif a.Causa_peaton == 'Altres':
        b='Otros'
    elif a.Causa_peaton == 'Transitar a peu per la calçada':
        b='Transitar a pie por la calzada'
    elif a.Causa_peaton == 'Desobeir altres senyals':
        b='Desobedecer otras señales'
    return b
   
victimas['Causa_peaton'] = victimas.apply(causapeaton, axis=1)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Ferit lleu,36,2015S005991,Home,Conductor,Motocicleta
1,No es debido al peatón,Ferit lleu,54,2015S004912,Home,Conductor,Turismo
2,No es debido al peatón,Ferit lleu,49,2015S009751,Home,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Ferit lleu,13,2015S002580,Home,Vianant,Motocicleta
4,No es debido al peatón,Ferit lleu,49,2015S008919,Home,Conductor,Motocicleta

In [27]:
victimas.Causa_peaton.unique()

array(['No es debido al peatón', 'Cruzar por fuera paso de peatones',
       'Desobedecer la señan del semáforo', 'Otros',
       'Transitar a pie por la calzada', 'Desobedecer otras señales'],
      dtype=object)

Limpieza datos Tipo_Persona

In [28]:
victimas.Tipo_persona.unique()

array(['Conductor', 'Vianant', 'Passatger'], dtype=object)

In [29]:
def tipopersona(a):
    if a.Tipo_persona == 'Conductor':
        b='Conductor'
    elif a.Tipo_persona == 'Vianant':
        b='Peatón'
    elif a.Tipo_persona == 'Passatger':
        b='Pasajero'
    return b
   
victimas['Tipo_persona'] = victimas.apply(tipopersona, axis=1)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Ferit lleu,36,2015S005991,Home,Conductor,Motocicleta
1,No es debido al peatón,Ferit lleu,54,2015S004912,Home,Conductor,Turismo
2,No es debido al peatón,Ferit lleu,49,2015S009751,Home,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Ferit lleu,13,2015S002580,Home,Peatón,Motocicleta
4,No es debido al peatón,Ferit lleu,49,2015S008919,Home,Conductor,Motocicleta

In [30]:
victimas.Tipo_persona.unique()

array(['Conductor', 'Peatón', 'Pasajero'], dtype=object)

Limpieza datos Condicion_fisica

In [31]:
victimas.Condicion_fisica.unique()

array(['Ferit lleu', 'Ferit greu', 'Mort',
       'Ferit lleu: Hospitalització fins a 24h',
       'Ferit greu: hospitalització superior a 24h',
       "Ferit lleu: Amb assistència sanitària en lloc d'accident",
       'Ferit lleu: Rebutja assistència sanitària',
       'Mort (dins 24h posteriors accident)'], dtype=object)

In [32]:
def condicionfisica(a):
    if a.Condicion_fisica == 'Ferit lleu':
        b='Herido leve'
    elif a.Condicion_fisica == 'Ferit greu':
        b='Herido grave'
    elif a.Condicion_fisica == 'Mort':
        b='Muerte'
    elif a.Condicion_fisica == 'Ferit lleu: Hospitalització fins a 24h':
        b='Herido leve: Hospitalización hasta 24h'
    elif a.Condicion_fisica == 'Ferit greu: hospitalització superior a 24h':
        b='Herido grave: Hospitalización superior a 24h'
    elif a.Condicion_fisica == "Ferit lleu: Amb assistència sanitària en lloc d'accident":
        b='Herido leve: Con asistencia sanitaria en lugar de accidente'
    elif a.Condicion_fisica == 'Ferit lleu: Rebutja assistència sanitària':
        b='Herido leve: Rechaza asistencia sanitaria'
    elif a.Condicion_fisica == 'Mort (dins 24h posteriors accident)':
        b='Muerte (dentro 24h posteriores accidente)'
    return b
   
victimas['Condicion_fisica'] = victimas.apply(condicionfisica, axis=1)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Herido leve,36,2015S005991,Home,Conductor,Motocicleta
1,No es debido al peatón,Herido leve,54,2015S004912,Home,Conductor,Turismo
2,No es debido al peatón,Herido leve,49,2015S009751,Home,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Herido leve,13,2015S002580,Home,Peatón,Motocicleta
4,No es debido al peatón,Herido leve,49,2015S008919,Home,Conductor,Motocicleta

In [33]:
victimas.Condicion_fisica.unique()

array(['Herido leve', 'Herido grave', 'Muerte',
       'Herido leve: Hospitalización hasta 24h',
       'Herido grave: Hospitalización superior a 24h',
       'Herido leve: Con asistencia sanitaria en lugar de accidente',
       'Herido leve: Rechaza asistencia sanitaria',
       'Muerte (dentro 24h posteriores accidente)'], dtype=object)

Limpieza datos Edad

In [34]:
victimas.Edad.unique()

array(['36', '54', '49', '13', '68', '33', '37', '23', '31', '26', '19',
       '80', '32', '41', '22', '18', '58', '62', '34', '43', '20', '30',
       '4', '9', '24', '44', '38', '28', '89', '63', '52', '60', '65',
       '27', '17', '56', '53', '40', '21', '59', '48', '39', '51', '57',
       '70', '45', '29', '71', '25', '55', '14', '42', '50', '66', '94',
       '72', '47', '69', 'Desconegut', '64', '61', '11', '0', '85', '12',
       '46', '16', '1', '5', '82', '6', '3', '67', '35', '81', '7', '2',
       '92', '88', '87', '15', '10', '90', '86', '74', '73', '83', '79',
       '75', '96', '78', '84', '8', '77', '91', '106', '76', '101', '93',
       '119', '98', '117', '97', '95'], dtype=object)

In [35]:
def edad(a):
    if a == 'Desconegut':
        return -1
    return int(a)

victimas.Edad = victimas.Edad.apply(edad)
victimas.dtypes

Causa_peaton        object
Condicion_fisica    object
Edad                 int64
Num_expediente      object
Sexo                object
Tipo_persona        object
Tipo_vehiculo       object
dtype: object

In [36]:
victimas.Edad.unique()

array([ 36,  54,  49,  13,  68,  33,  37,  23,  31,  26,  19,  80,  32,
        41,  22,  18,  58,  62,  34,  43,  20,  30,   4,   9,  24,  44,
        38,  28,  89,  63,  52,  60,  65,  27,  17,  56,  53,  40,  21,
        59,  48,  39,  51,  57,  70,  45,  29,  71,  25,  55,  14,  42,
        50,  66,  94,  72,  47,  69,  -1,  64,  61,  11,   0,  85,  12,
        46,  16,   1,   5,  82,   6,   3,  67,  35,  81,   7,   2,  92,
        88,  87,  15,  10,  90,  86,  74,  73,  83,  79,  75,  96,  78,
        84,   8,  77,  91, 106,  76, 101,  93, 119,  98, 117,  97,  95],
      dtype=int64)

Limpieza datos Sexo

In [37]:
victimas.Sexo.unique()

array(['Home', 'Dona', 'Desconegut'], dtype=object)

In [38]:
def sexo(a):
    if a.Sexo == 'Home':
        b='Hombre'
    elif a.Sexo == 'Dona':
        b='Mujer'
    elif a.Sexo == 'Desconegut':
        b='Desconocido'
    return b
   
victimas['Sexo'] = victimas.apply(sexo, axis=1) 
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Herido leve,36,2015S005991,Hombre,Conductor,Motocicleta
1,No es debido al peatón,Herido leve,54,2015S004912,Hombre,Conductor,Turismo
2,No es debido al peatón,Herido leve,49,2015S009751,Hombre,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Herido leve,13,2015S002580,Hombre,Peatón,Motocicleta
4,No es debido al peatón,Herido leve,49,2015S008919,Hombre,Conductor,Motocicleta

In [39]:
victimas.Sexo.unique()

array(['Hombre', 'Mujer', 'Desconocido'], dtype=object)

Limpieza datos Tipo Vehículo

In [40]:
victimas.Tipo_vehiculo.unique()

array(['Motocicleta', 'Turismo', 'Ciclomotor', 'Autobús', 'Bicicleta',
       'Taxi', 'Furgoneta', 'Camión <= 3,5 Tm', 'Otros vehíc. a motor',
       'Autobús articulado', 'Cuadriciclo <75cc', 'Cuadriciclo >=75cc',
       'Camión > 3,5 Tm', 'Todo terreno', 'Tractocamión',
       'Tranvía o tren', 'Microbus <=17 plazas', 'Autocar',
       'Maquinaria de obras', 'Autocaravana', 'Turisme',
       'Autobús articulat', 'Altres vehicles sense motor',
       'Camió rígid <= 3,5 tones', 'Altres vehicles amb motor',
       'Quadricicle > 75 cc', 'Camió rígid > 3,5 tones', 'Tren o tramvia',
       "Maquinària d'obres i serveis", 'Tractor camió', 'Tot terreny',
       'Quadricicle < 75 cc', 'Desconegut', 'Microbus <= 17'],
      dtype=object)

In [41]:
def tipovehiculo(a):
    if a.Tipo_vehiculo == 'Turisme':
        b='Turismo'
    elif a.Tipo_vehiculo == 'Autobús articulat':
        b='Autobús articulado'
    elif a.Tipo_vehiculo == 'Altres vehicles sense motor':
        b='Otros vehíc. sin motor'
    elif a.Tipo_vehiculo == 'Altres vehicles amb motor':
        b='Otros vehíc. a motor'
    elif a.Tipo_vehiculo == 'Quadricicle > 75 cc':
        b='Cuadriciclo >=75cc'
    elif a.Tipo_vehiculo == 'Quadricicle < 75 cc':
        b='Cuadriciclo <75cc'
    elif a.Tipo_vehiculo == 'Camió rígid > 3,5 tones':
        b='Camión > 3,5 Tm'
    elif a.Tipo_vehiculo == 'Camió rígid <= 3,5 tones':
        b='Camión <= 3,5 Tm'
    elif a.Tipo_vehiculo == 'Tren o tramvia':
        b='Tranvía o tren'
    elif a.Tipo_vehiculo == "Maquinària d'obres i serveis":
        b='Maquinaria de obras'
    elif a.Tipo_vehiculo == 'Tractor camió':
        b='Tractocamión'
    elif a.Tipo_vehiculo == 'Tot terreny':
        b='Todo terreno'
    elif a.Tipo_vehiculo == 'Desconegut':
        b='Desconocido'
    elif a.Tipo_vehiculo == 'Microbus <= 17':
        b='Microbus <=17 plazas'
    elif a.Tipo_vehiculo == 'Autocar':
        b='Autobús'
    else: b = a.Tipo_vehiculo
    return b
   
victimas['Tipo_vehiculo'] = victimas.apply(tipovehiculo, axis=1)
victimas.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Herido leve,36,2015S005991,Hombre,Conductor,Motocicleta
1,No es debido al peatón,Herido leve,54,2015S004912,Hombre,Conductor,Turismo
2,No es debido al peatón,Herido leve,49,2015S009751,Hombre,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Herido leve,13,2015S002580,Hombre,Peatón,Motocicleta
4,No es debido al peatón,Herido leve,49,2015S008919,Hombre,Conductor,Motocicleta

In [42]:
victimas.Tipo_vehiculo.unique()

array(['Motocicleta', 'Turismo', 'Ciclomotor', 'Autobús', 'Bicicleta',
       'Taxi', 'Furgoneta', 'Camión <= 3,5 Tm', 'Otros vehíc. a motor',
       'Autobús articulado', 'Cuadriciclo <75cc', 'Cuadriciclo >=75cc',
       'Camión > 3,5 Tm', 'Todo terreno', 'Tractocamión',
       'Tranvía o tren', 'Microbus <=17 plazas', 'Maquinaria de obras',
       'Autocaravana', 'Otros vehíc. sin motor', 'Desconocido'],
      dtype=object)

A continuación se exporta a un .csv

In [43]:
victimas.to_csv("victimas.csv",index=0, encoding="utf-8")

Se repite el proceso de importación pero esta vez con el nuevo csv para comprobar que se transformó correctamente

In [44]:
prueba=pd.read_csv('victimas.csv', index_col=False)

In [45]:
prueba.head()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
0,No es debido al peatón,Herido leve,36,2015S005991,Hombre,Conductor,Motocicleta
1,No es debido al peatón,Herido leve,54,2015S004912,Hombre,Conductor,Turismo
2,No es debido al peatón,Herido leve,49,2015S009751,Hombre,Conductor,Motocicleta
3,Cruzar por fuera paso de peatones,Herido leve,13,2015S002580,Hombre,Peatón,Motocicleta
4,No es debido al peatón,Herido leve,49,2015S008919,Hombre,Conductor,Motocicleta

In [46]:
prueba.tail()

,Causa_peaton,Condicion_fisica,Edad,Num_expediente,Sexo,Tipo_persona,Tipo_vehiculo
35995,No es debido al peatón,Herido leve: Hospitalización hasta 24h,39,2017S010782,Mujer,Pasajero,Taxi
35996,No es debido al peatón,Herido leve: Con asistencia sanitaria en lugar...,40,2017S010782,Hombre,Conductor,Taxi
35997,No es debido al peatón,Herido leve: Con asistencia sanitaria en lugar...,56,2017S010782,Hombre,Conductor,Taxi
35998,No es debido al peatón,Herido leve: Hospitalización hasta 24h,31,2017S010783,Hombre,Conductor,Motocicleta
35999,No es debido al peatón,Herido leve: Hospitalización hasta 24h,68,2017S010784,Mujer,Pasajero,Taxi