## Tipología
A continuación se va a realizar la limpieza de los datos de accidentes gestionados por la Guardia Urbana en la ciudad de Barcelona según tipología obtenidos en la web de Open Data BCN

Importo la herramienta de pandas que me permite trabajar sobre los datos

In [1]:
import pandas as pd

Exportamos los csv

In [2]:
tipologia15=pd.read_csv('tipologia15.csv', index_col=False)
tipologia16=pd.read_csv('tipologia16.csv', index_col=False)
tipologia17=pd.read_csv('tipologia17.csv', index_col=False)

Inspecciono los tipos de datos de cada tabla y la cantidad de filas y columnas

In [3]:
tipologia15.dtypes

Número d expedient            object
Codi districte               float64
Nom districte                 object
Codi barri                   float64
Nom barri                     object
Codi carrer                  float64
Nom carrer                    object
Num postal caption            object
Descripció dia setmana        object
Dia setmana                   object
Descripció tipus dia          object
NK Any                       float64
Mes de any                   float64
Nom mes                       object
Dia de mes                   float64
Hora de dia                  float64
Descripció torn               object
Descripció tipus accident     object
Coordenada UTM (Y)            object
Coordenada UTM (X)            object
dtype: object

In [4]:
tipologia15.shape

(10522, 20)

In [5]:
tipologia16.dtypes

Número d'expedient            object
Codi districte                 int64
Nom districte                 object
Codi barri                     int64
Nom barri                     object
Codi carrer                    int64
Nom carrer                    object
Num postal caption            object
Descripció dia setmana        object
Dia setmana                   object
Descripció tipus dia          object
NK Any                         int64
Mes de any                     int64
Nom mes                       object
Dia de mes                     int64
Hora de dia                    int64
Descripció torn               object
Descripció tipus accident     object
Coordenada UTM (X)            object
Coordenada UTM (Y)            object
Long                         float64
Lat                          float64
dtype: object

In [6]:
tipologia16.shape

(10701, 22)

In [7]:
tipologia17.dtypes

Número d'expedient           object
Codi districte                int64
Nom districte                object
Codi barri                    int64
Nom barri                    object
Codi carrer                   int64
Nom carrer                   object
Num postal caption           object
Descripció dia setmana       object
Dia setmana                  object
Descripció tipus dia         object
NK Any                        int64
Mes de any                    int64
Nom mes                      object
Dia de mes                    int64
Hora de dia                   int64
Descripció torn              object
Descripció tipus accident    object
Coordenada UTM (X)           object
Coordenada UTM (Y)           object
Londitud                     object
Latitud                      object
dtype: object

In [8]:
tipologia17.shape

(11009, 22)

A continuación selecciono las columnas que me interesan de los DataFrames; en el caso de tipología vamos a utilizar el número de expediente y la descripción del tipo de accidente.

In [9]:
tipo15 = tipologia15.iloc[:,[0,17]]
tipo15.head()

  Número d expedient   Descripció tipus accident
0        2015S000215    Col.lisió fronto-lateral
1        2015S000787  Xoc contra element estàtic
2        2015S000390  Xoc contra element estàtic
3        2015S007294        Caiguda (dues rodes)
4        2015S009836           Col.lisió lateral

In [10]:
tipo16 = tipologia16.iloc[:,[0,17]]
tipo16.head()

  Número d'expedient   Descripció tipus accident
0    2016S002575                           Abast
1    2016S001146               Col.lisió lateral
2    2016S009619                   Atropellament
3    2016S003881      Xoc contra element estàtic
4    2016S004162      Xoc contra element estàtic

In [11]:
tipo17 = tipologia17.iloc[:,[0,17]]
tipo17.head()

  Número d'expedient Descripció tipus accident
0    2017S009418                         Abast
1    2017S008852      Col.lisió fronto-lateral
2    2017S001023             Col.lisió lateral
3    2017S009198      Col.lisió fronto-lateral
4    2017S006546                         Abast

En este caso, los nombres de las columnas no son iguales por lo que se deben renombrar antes de poder juntar. Además se traducen los nombres al castellano.

In [12]:
tipo15.rename(columns={"Número d expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo15.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

  Num_expediente              Tipo_accidente
0    2015S000215    Col.lisió fronto-lateral
1    2015S000787  Xoc contra element estàtic
2    2015S000390  Xoc contra element estàtic
3    2015S007294        Caiguda (dues rodes)
4    2015S009836           Col.lisió lateral

In [13]:
tipo16.rename(columns={"Número d'expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo16.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

    Num_expediente              Tipo_accidente
0  2016S002575                           Abast
1  2016S001146               Col.lisió lateral
2  2016S009619                   Atropellament
3  2016S003881      Xoc contra element estàtic
4  2016S004162      Xoc contra element estàtic

In [14]:
tipo17.rename(columns={"Número d'expedient":'Num_expediente',"Descripció tipus accident":"Tipo_accidente"},
                      inplace=True)
tipo17.head()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

    Num_expediente            Tipo_accidente
0  2017S009418                         Abast
1  2017S008852      Col.lisió fronto-lateral
2  2017S001023             Col.lisió lateral
3  2017S009198      Col.lisió fronto-lateral
4  2017S006546                         Abast

Ahora se juntan en una sola tabla

In [15]:
tipologia = tipo15.append(tipo16, ignore_index=True, verify_integrity=True, sort=False)
tipologia = tipologia.append(tipo17, ignore_index=True, verify_integrity=True, sort=False)
len(tipologia) == len(tipo15) + len(tipo16) + len(tipo17)

True

In [16]:
tipologia.head()

  Num_expediente              Tipo_accidente
0    2015S000215    Col.lisió fronto-lateral
1    2015S000787  Xoc contra element estàtic
2    2015S000390  Xoc contra element estàtic
3    2015S007294        Caiguda (dues rodes)
4    2015S009836           Col.lisió lateral

In [17]:
tipologia.tail()

        Num_expediente            Tipo_accidente
32227  2017S003667             Col.lisió lateral
32228  2017S002192      Col.lisió fronto-lateral
32229  2017S001766          Caiguda (dues rodes)
32230  2017S009106                 Atropellament
32231  2017S006503      Col.lisió fronto-lateral

Ahora se procede con la limpieza del tipo de accidente:

Se verifica que los números de expediente sean integros. Se observa que hay números que terminan con espacios blancos, entonces se quitan.

In [18]:
tipologia['Num_expediente'].unique()

array(['2015S000215', '2015S000787', '2015S000390', ...,
       '2017S001766    ', '2017S009106    ', '2017S006503    '],
      dtype=object)

In [19]:
def elimina_espacios(fila):
    return (fila.Num_expediente).strip()

tipologia['Num_expediente'] = tipologia.apply(elimina_espacios, axis=1)
tipologia['Num_expediente'].unique()

array(['2015S000215', '2015S000787', '2015S000390', ..., '2017S001766',
       '2017S009106', '2017S006503'], dtype=object)

Luego se verifica los tipos de accidentes, para comprobar que no haya ninguno que sea igual pero que este escrito de manera distinta.

In [20]:
tipologia.Tipo_accidente.unique()

array(['Col.lisió fronto-lateral', 'Xoc contra element estàtic',
       'Caiguda (dues rodes)', 'Col.lisió lateral', 'Atropellament',
       'Abast', 'Abast multiple', 'Caiguda interior vehicle',
       'Col.lisió frontal', 'Altres', 'Bolcada (més de dues rodes)', nan,
       'Desconegut', 'Sortida de via amb xoc o col.lisió', 'Encalç',
       'Sortida de via amb bolcada', 'Xoc amb animal a la calçada',
       'Resta sortides de via'], dtype=object)

Se procede a traducir del catalán al español los tipos de accidentes

In [21]:
Tipologia_accidente=tipologia.copy()

def cambiar(a):
    global b
    if  a.Tipo_accidente == 'Col.lisió fronto-lateral':
        b='Colisión fronto-lateral'
    elif a.Tipo_accidente == 'Xoc contra element estàtic':
        b='Choque contra elemento estático'
    elif a.Tipo_accidente == 'Caiguda (dues rodes)':
        b='Caída (dos ruedas)'
    elif a.Tipo_accidente == 'Col.lisió lateral':
        b='Colisión lateral'
    elif a.Tipo_accidente == 'Atropellament':
        b='Atropello'
    elif a.Tipo_accidente == 'Abast':
        b='Alcance'
    elif a.Tipo_accidente == 'Abast multiple':
        b='Alcance multiple'
    elif a.Tipo_accidente == 'Caiguda interior vehicle':
        b='Caída interior vehículo'
    elif a.Tipo_accidente == 'Col.lisió frontal':
        b='Colisión frontal'   
    elif a.Tipo_accidente == 'Altres':
        b='Otros'
    elif a.Tipo_accidente == 'Bolcada (més de dues rodes)':
        b='Vuelco (más de dos ruedas)'
    elif a.Tipo_accidente == 'nan':
        b='Desconocido'
    elif a.Tipo_accidente == 'Desconegut':
        b='Desconocido'   
    elif a.Tipo_accidente == 'Sortida de via amb xoc o col.lisió':
        b='Salida de vía con choque o colisión'
    elif a.Tipo_accidente == 'Encalç':
        b='Persecución'
    elif a.Tipo_accidente == 'Sortida de via amb bolcada':
        b='Salida de vía con vuelco'
    elif a.Tipo_accidente == 'Xoc amb animal a la calçada':
        b='Choque con animal en la calzada'
    elif a.Tipo_accidente == 'Xoc amb animal a la calçada':
        b='Resto salidas de vía'      
    return b

Tipologia_accidente['Tipo_accidente'] = Tipologia_accidente.apply(cambiar, axis=1)

In [22]:
Tipologia_accidente.head()

  Num_expediente                   Tipo_accidente
0    2015S000215          Colisión fronto-lateral
1    2015S000787  Choque contra elemento estático
2    2015S000390  Choque contra elemento estático
3    2015S007294               Caída (dos ruedas)
4    2015S009836                 Colisión lateral

Se comprueba que se hayan aplicado los cambios

In [23]:
Tipologia_accidente.Tipo_accidente.unique()

array(['Colisión fronto-lateral', 'Choque contra elemento estático',
       'Caída (dos ruedas)', 'Colisión lateral', 'Atropello', 'Alcance',
       'Alcance multiple', 'Caída interior vehículo', 'Colisión frontal',
       'Otros', 'Vuelco (más de dos ruedas)', 'Desconocido',
       'Salida de vía con choque o colisión', 'Persecución',
       'Salida de vía con vuelco', 'Choque con animal en la calzada'],
      dtype=object)

A continuación se exporta a un .csv

In [24]:
Tipologia_accidente.to_csv("tipologia.csv",index=0, encoding="utf-8")

Se repite el proceso de importación pero esta vez con el nuevo csv para comprobar que se transformó correctamente

In [25]:
prueba=pd.read_csv('tipologia.csv', index_col=False)

In [26]:
prueba.head()

  Num_expediente                   Tipo_accidente
0    2015S000215          Colisión fronto-lateral
1    2015S000787  Choque contra elemento estático
2    2015S000390  Choque contra elemento estático
3    2015S007294               Caída (dos ruedas)
4    2015S009836                 Colisión lateral

In [27]:
prueba.tail()

      Num_expediente           Tipo_accidente
32227    2017S003667         Colisión lateral
32228    2017S002192  Colisión fronto-lateral
32229    2017S001766       Caída (dos ruedas)
32230    2017S009106                Atropello
32231    2017S006503  Colisión fronto-lateral

In [28]:
Tipologia_accidente.shape

(32232, 2)