In [17]:
import pymssql

In [18]:
conn= pymssql.connect(server='serveraccidentes.database.windows.net', user='byludo@serveraccidentes', password='Mariop96', database='accidentes')

Importo el csv y lo convierto en dataframe

In [19]:
import pandas as pd

In [20]:
tipologia=pd.read_csv('Tipología Accidentes/Tipologia_Accidente.csv')
tipologia.head

<bound method NDFrame.head of       Num_expediente                   Tipo_accidente
0        2015S000215          Colisión fronto-lateral
1        2015S000787  Choque contra elemento estático
2        2015S000390  Choque contra elemento estático
3        2015S007294               Caída (dos ruedas)
4        2015S009836                 Colisión lateral
5        2015S009453                        Atropello
6        2015S007312                          Alcance
7        2015S004660          Colisión fronto-lateral
8        2015S006407                        Atropello
9        2015S009834                 Alcance multiple
10       2015S002735                        Atropello
11       2015S000784                 Colisión lateral
12       2015S003464                 Colisión lateral
13       2015S001064                 Colisión lateral
14       2015S006090                 Colisión lateral
15       2015S002841                        Atropello
16       2015S006350                          Alcance
17       2015S002520                        Atropello
18       2015S008475                 Colisión lateral
19       2015S006010  Choque contra elemento estático
20       2015S001882                          Alcance
21       2015S000598               Caída (dos ruedas)
22       2015S002514               Caída (dos ruedas)
23       2015S000496          Colisión fronto-lateral
24       2015S009845                 Colisión lateral
25       2015S005886                          Alcance
26       2015S009924          Colisión fronto-lateral
27       2015S006700                 Colisión lateral
28       2015S002323          Colisión fronto-lateral
29       2015S006305                 Colisión lateral
...              ...                              ...
32202    2017S007431                 Colisión lateral
32203    2017S010672                          Alcance
32204    2017S000915                 Colisión lateral
32205    2017S006021                 Colisión lateral
32206    2017S007347                            Otros
32207    2017S007689                          Alcance
32208    2017S001610          Colisión fronto-lateral
32209    2017S002475                 Colisión lateral
32210    2017S001315               Caída (dos ruedas)
32211    2017S001017                          Alcance
32212    2017S000187                        Atropello
32213    2017S003254  Choque contra elemento estático
32214    2017S008107                          Alcance
32215    2017S003134                        Atropello
32216    2017S002186                 Alcance multiple
32217    2017S000703                          Alcance
32218    2017S001890                 Colisión lateral
32219    2017S006549                            Otros
32220    2017S002188                        Atropello
32221    2017S006053                          Alcance
32222    2017S008369  Choque contra elemento estático
32223    2017S008899                          Alcance
32224    2017S000877                 Colisión lateral
32225    2017S001377                            Otros
32226    2017S008439                 Colisión lateral
32227    2017S003667                 Colisión lateral
32228    2017S002192          Colisión fronto-lateral
32229    2017S001766               Caída (dos ruedas)
32230    2017S009106                        Atropello
32231    2017S006503          Colisión fronto-lateral

[32232 rows x 2 columns]>

Busco los valores únicos del tipo de accidente

In [21]:
descTipologia=tipologia.Tipo_accidente.unique()

In [22]:
descTipologia=pd.dataframe(descTipologia)

AttributeError: module 'pandas' has no attribute 'dataframe'

Creo la tabla en mi base de datos

In [11]:
cursor= conn.cursor()

In [12]:
sqlQuery= "CREATE TABLE tipologia(idTipologia int, descTipologia varchar(32))"

In [13]:
cursor.execute(sqlQuery)

OperationalError: (2714, b"There is already an object named 'tipologia' in the database.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")

Ahora inserto los datos en la tabla

In [ ]:
sqlQuery= "INSERT INTO tipologia VALUES "

In [23]:
sqlQuery="INSERT INTO tipologia(descTipologia) VALUES [('Colisión fronto-lateral'), ('Choque contra elemento estático')]"

In [24]:
cursor.execute(sqlQuery)

ProgrammingError: (102, b"Incorrect syntax near '('Colisi\xc3\xb3n fronto-lateral'), ('Choque contra elemento est\xc3\xa1tico')'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n")